/* Joke.css */

body {
    /* background-color: rgb(47, 97, 80); */
    background-color: rgb(30, 86, 121);
}

.joke {
    margin-top: 10px;
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: beige;
}

h1 {
    text-align: center;
    color: beige;
}